<ngx-loading [show]="loading"></ngx-loading>

<div class="folder">
  <div class="page-header" *ngIf="!article?.image">
    <h1>{{article.title}}</h1>
  </div>
  <div>
    <div *ngFor="let child of posts | orderBy: 'created_at':true" class="media">
      <div class="media-left">
        <noosfero-article-icon [article]="child"></noosfero-article-icon>
      </div>
      <div class="media-body">
        <a class="title" [routerLink]="'/' + profile.identifier + '/' + child.path">
          <h4 class="media-heading">{{child.title}}</h4>
        </a>
        <span class="time">
          <i class="fa fa-clock-o"></i> <span>{{child.created_at | dateFormat | amTimeAgo}}</span>
        </span>
      </div>
    </div>
  </div>

  <pagination *ngIf="totalPosts>0" [totalItems]="totalPosts" [itemsPerPage]="perPage"
    [(ngModel)]="currentPage" (pageChanged)="loadPage($event)" boundaryLinks="true"
    firstText="«" lastText="»" previousText="‹" nextText="›"
    class="pagination-sm center-block"></pagination>
</div>
