<div class="{{block.type}}-block">
  <div *ngFor="let article of articles" [routerLink]="['/', profile.identifier, article.path]"  class="article">
    <!-- Article Title -->
    <div class="page-header" *ngIf="display('title')">
        <h5 class="title media-heading" [innerHtml]="article.title"></h5>
    </div>

    <div class="sub-header clearfix">
        <!-- Article Abstract and Read More Link -->
        <div class="post-lead" *ngIf="display('abstract')">
            <div [innerHtml]="article.abstract"></div>
            <a [routerLink]="'/' + profile.identifier + '/' + article.path">
                <i class="fa fa-pencil-square-o fa-fw fa-lg"></i> {{"article.actions.read_more" | translate}}
            </a>
        </div>
        <div class="page-info pull-right small text-muted" *ngIf="display('publish_date')">
            <!-- Article Published Date -->
            <span class="time">
                <i class="fa fa-clock-o"></i> <span>{{ article.created_at | dateFormat | amTimeAgo}}</span>
            </span>
            <!-- Article Author -->
            <span class="author">
                <i class="fa fa-user"></i>
                <profile-link [profile]="article.author" [truncate]="false"></profile-link>
            </span>
        </div>
    </div>

    <div class="post-lead">
        <!-- Article Image -->
        <img *ngIf="display('image')" [src]="article.image.url" class="img-responsive article-image">
        <!-- Article Body -->
        <div [innerHtml]="article.body" *ngIf="display('body')"></div>
    </div>

    <!-- Article Tags -->
    <div *ngIf="display('tags')" class="post-lead">
        <div class="label" *ngFor="let tag of article.tag_list">
            <span class="badge" [innerHtml]="tag"></span>
        </div>
    </div>

  </div>
</div>
