<div class="menu-block collapse navbar-collapse">
  <ul class="nav navbar-nav nav-pills" [dragula]='bagId' [dragulaModel]='links' >
    <li class="menu-link" *ngFor="let link of links; let i = index" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="badge" (click)='remove(i)' *ngIf="designMode"><i class="fa fa-fw fa-remove"></i></span>
      <a [routerLink]="link['url']">
        <span>{{link['translatedTitle']}}</span>
      </a>
    </li>
    <li *ngIf="designMode">
      <ng-template #popoverTemplate>
        <h4 *ngIf="linksAvailable.length>0">{{'blocks.menu.title' | translate}}</h4>
        <ul class="list-group borderless">
          <li class="list-group-item borderless" *ngFor="let link of linksAvailable">
            <a href="#" class="btn btn-primary" (click)="add(link)">{{link['translatedTitle']}}</a>
          </li>
          <li class="list-group-item borderless">
            <input [(ngModel)]="selected" (typeaheadOnSelect)="selectArticle($event)" [typeahead]="articles" typeaheadOptionField="translatedTitle" placeholder="{{'blocks.menu.article.placeholder' | translate}}"
              class="form-group form-control search-article">
            <button type="button" class="btn btn-default btn-close" (click)="popover.hide()"><i class="fa fa-close" aria-hidden="true"></i></button>
            <div class="form-group actions">
              <button *ngIf="selectedArticle" type="button" class="btn btn-primary btn-add-article" (click)="addArticle()">
                <i class="fa fa-check" aria-hidden="true"></i>{{'blocks.menu.article.add' | translate}}
              </button>
            </div>
          </li>
        </ul>
      </ng-template>
      <a href="#" #popover="bs-popover" triggers="click" [popover]="popoverTemplate" class="menu-new-item">
        <i class="fa fa-plus"></i>
      </a>
    </li>
  </ul>
</div>