<add-block *ngIf="showButton(column)" (onAdd)="addBlock($event)" [box]="box" [owner]="owner"></add-block>

<ng-container *ngIf="!column?.subcolumns">
    <div [dragula]='bagId' [dragulaModel]='orderedBlocks'>
        <noosfero-block *ngFor="let block of box?.blocks | orderBy: 'position'" [block]="block" [owner]="owner" [box]="box" (onRemove)="removeBlock($event)" [attr.data-id]="orderedBlocks"></noosfero-block>
    </div>
</ng-container>

<noosfero-boxes *ngIf="column?.subcolumns" [columns]="column.subcolumns" [boxes]="boxes" [owner]="owner" [startIndex]="startIndex"></noosfero-boxes>

<div class="dndPlaceholder"></div>