<div class="navbar navbar-default">
    <div class="container-fluid" *ngIf="profile.type === 'Person'">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/myprofile', profile.identifier]"><i class="fa fa-flag" aria-hidden="true"></i> {{ 'myprofile.configuration.personal_data' | translate}}</a>
            </li>
            <li role="presentation" class="">
                <a href="#" routerLinkActive="active" [routerLink]="['/myprofile', profile.identifier, 'friends']">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ 'myprofile.configuration.people' | translate}}
                </a>
            </li>
            <li role="presentation" class="">
                <a href="#" class="communities" routerLinkActive="active" [routerLink]="['/myprofile', profile.identifier, 'communities']">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ 'myprofile.configuration.communities' | translate}}
                </a>
            </li>
            <li role="separator" class="divider">
                <hr />
            </li>
            <li role="presentation">
                <a href="#" routerLinkActive="active" [routerLink]="['/myprofile', profile.identifier, 'change_password']">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                     {{ 'myprofile.configuration.password' | translate}}
                </a>
            </li>
            <li role="presentation" class="">
                <a href="#" routerLinkActive="active" [routerLink]="['/myprofile', profile.identifier, 'destroy_profile']" class="destroy-profile">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                     {{ 'myprofile.configuration.delete_account' | translate}}
                </a>
            </li>
            <li role="separator" class="divider">
                <hr />
            </li>
            <li role="presentation" class="">
                <a [routerLink]="['/', profile.identifier]">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    {{"myprofile.configuration.user-homepage" | translate}}
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid" *ngIf="profile.type === 'Community'">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/myprofile', profile.identifier]"><i class="fa fa-flag" aria-hidden="true"></i> {{ 'myprofile.configuration.community_data' | translate}}</a>
            </li>
            <li role="presentation" class="">
                <a href="#" class="members" routerLinkActive="active" [routerLink]="['/myprofile', profile.identifier, 'members']">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ 'myprofile.configuration.community.members' | translate}}
                </a>
            </li>
            <li role="separator" class="divider">
                <hr />
            </li>
            <li role="presentation" class="">
                <a href="#" class="destroy-community" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active"  [routerLink]="['/myprofile', profile.identifier, 'destroy_profile']">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {{ 'myprofile.configuration.community.delete' | translate}}
                </a>
            </li>
            <li role="separator" class="divider">
                <hr />
            </li>
            <li role="presentation" class="">
                <a [routerLink]="['/', profile.identifier]">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    {{"myprofile.configuration.community-homepage" | translate}}
                </a>
            </li>
        </ul>
    </div>
</div>