<ngx-loading [show]="loading"></ngx-loading>

<div *ngFor="let card of documents" class="documents">
  <div *ngIf="!presentFullContent()" class="a-card panel media">
    <div class="author media-left" *ngIf="card.author?.image">
      <img [src]="card.author.image.url" class="img-circle">
    </div>
    <div class="header media-body">
      <h4 class="title media-heading">
        <a [routerLink]="'/' + card.profile?.identifier + '/' + card.path">
          {{card.title}}
        </a>
      </h4>
      <div class="subheader">
        <discussion-period [article]="card"></discussion-period>
      </div>
      <div *ngIf="presentAbstract()" class="abstract media-heading" [innerHTML]="card.abstract"></div>
    </div>
    <img *ngIf="card.image" [src]="card.image.url" class="img-responsive article-image">
  </div>
  <noosfero-default-article *ngIf="presentFullContent() && card" [article]="card" [profile]="profile"></noosfero-default-article>
</div>
