<div class="modal login fade" bsModal #loginModal="bs-modal" *ngIf="show" [config]="{ show: true, backdrop: true }"
     tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true" (onHidden)="hide()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{"auth.title" | translate}}</h4>
      </div>
      <div class="modal-body">
        <form class="login-form">
          <div class="form-group">
            <label for="email">{{"auth.form.login" | translate}}</label>
            <input type="text" class="form-control" id="email" placeholder="{{'auth.form.login' | translate}}" name="email" [(ngModel)]="credentials.login">
          </div>
          <div class="form-group">
            <label for="passwd">{{"auth.form.password" | translate}}</label>
            <input type="password" class="form-control" id="passwd" placeholder="{{'auth.form.password' | translate}}" name= "password" [(ngModel)]="credentials.password">
          </div>
          <div class="form-inline">
            <div class="checkbox-nice">
              <input type="checkbox" id="keep-logged">
              <label for="keep-logged">
                {{"auth.form.keepLoggedIn" | translate}}
              </label>
            </div>
            <div class="pull-right">
              <a (click)="openForgotPassword()" href="">{{"auth.form.forgot_passwd" | translate}}</a>
            </div>
          </div>
          <button type="submit" class="btn-login" (click)="login()">{{"auth.form.login_button" | translate}}</button>
        </form>
        <div class="text-center">
          <a [routerLink]="['/account/signup']" (click)="hide()">{{"auth.createAccount" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<noosfero-forgot-password [(show)]="showForgotPasswordModal"></noosfero-forgot-password>
