<div class="suggest-article-accept">
  <div class="suggest-article">
    <span class="requestor">{{task.requestor?.name}}{{task.data?.name}}</span> {{"tasks.suggest_article.message" | translate}}
    <span class="article">{{task.data.article.name}}</span>
  </div>
  <div class="form">
    <div class="article">
      <div class="form-group article">
        <article-basic-editor [article]="task.data.article"></article-basic-editor>
      </div>
    </div>
  </div>
  <div class="select-folder form-group">
    <label for="folderSelect">{{"tasks.suggest_article.select_folder" | translate}}</label>
    <select name="folderSelect" class="form-control" id="folderSelect" [(ngModel)]="task.data.article.parent_id">
        <option *ngFor="let folder of folders" [ngValue]="folder.id">{{folder.path}}</option>
    </select>
  </div>
</div>
