<h1 id="task-list-header">{{"tasks.header" | translate}}</h1>
<ngx-loading [show]="loading"></ngx-loading>
<task-list [tasks]="tasks"></task-list>

<pagination *ngIf="total>0" [totalItems]="total" [itemsPerPage]="perPage"
  [(ngModel)]="currentPage" (pageChanged)="loadTasks($event)" boundaryLinks="true"
  firstText="«" lastText="»" previousText="‹" nextText="›"
  class="pagination-sm center-block"></pagination>
