<ngx-loading [show]="loading"></ngx-loading>

<tabset>
  <tab  *ngFor="let role of roles" heading="{{getTranslationKey(role) | translate}}" (select)="loadByRole($event, role)">
      
    <noosfero-community-members-paginated *ngIf="profile" 
        [profile]="profile" [members]="members" 
        [totalItems]="totalMembers" [itensPerPage]="membersPerPage"
        (pageChanged)="loadByRole($event, role)" >
    </noosfero-community-members-paginated>
  </tab>
</tabset>


