<div class="highlights-block-settings" *ngIf="block">
  <button (click)="isCollapsed = !isCollapsed" class="extra-settings-btn btn btn-link">
    <i class="fa fa-caret-down"></i> {{ "block.edition.extra_config" | translate }}
  </button>

  <div [collapse]="isCollapsed" class="slides">

    <div class="row">
      <div [dragula]='bagId' [dragulaModel]="images">
        <div class="col-xs-6 col-md-3 slide" *ngFor="let slide of images; let index=index">

          <div class="hovereffect">
            <a class="thumbnail" (click)="selectSlide(index)">
              <img [src]="slide.image_src">
            </a>
            <div class="slide-actions">
              <a (click)="removeSlide(index)" class="remove"><i class="fa fa-remove"></i></a>
            </div>

            <div class="container-camera">
              <image-upload (finished)="upload($event, slide)"></image-upload>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-3 slide">
        <button class="thumbnail new-slide btn btn-link" (click)="addSlide()">
          <i class="fa fa-plus fa-5x"></i>
        </button>
      </div>
    </div>

    <div class="transition-setting form-inline">
      <div class="form-group">
        <span>{{"highlights-block.edition.transition.label" | translate}}</span>
        <input type="number" [(ngModel)]="block.settings.interval" class="interval">
        <span [ngPlural]="getInterval()">
          <ng-template ngPluralCase="=0">{{"highlights-block.edition.transition.seconds.zero" | translate}}</ng-template>
          <ng-template ngPluralCase="=1">{{"highlights-block.edition.transition.seconds.one" | translate}}</ng-template>
          <ng-template ngPluralCase="other">{{"highlights-block.edition.transition.seconds.other" | translate}}</ng-template>
        </span>
      </div>
    </div>

  </div>
</div>