.blog {
  .blog-cover {
    margin: -15px;
    position: relative;
    h3 {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      padding: 10px 15px;
      margin: 0;
      width: 100%;
    }
  }
  .page-header {
      margin: 0px 0px 5px 0px;
      padding:  0px;
  }

  .private-article{
    color: #a2a2a2;
  }
}

.empty{
  font-size: xx-large;
  text-align: center;
  padding: 50px;
}