<ngx-loading [show]="loading"></ngx-loading>

<div class="blog">
  <div class="blog-cover" *ngIf="article.image">
    <img [src]="article.image.url" class="img-responsive">
    <h3>{{article.title}}</h3>
  </div>

  <div class="page-header" *ngIf="!article.image">
    <h1>{{article.title}}</h1>
  </div>

  <div class="empty" *ngIf="isEmpty()">
    {{"blog.empty" | translate}}
  </div>

  <div *ngIf="!isEmpty()">
    <div *ngFor="let child of posts | orderBy: 'created_at':true">
      <div class="page-header">
        <a class="title" [routerLink]="'/' + profile.identifier + '/' + child.path">
          <h2>{{child.title}} <i *ngIf="!child.published" class="private-article fa fa-lock"></i></h2>
        </a>
        <div class="post-lead">{{child.body | stripTags | shorten: 500: '...': true}}</div>
      </div>
    </div>
  </div>

<pagination *ngIf="totalPosts>0" [totalItems]="totalPosts" [itemsPerPage]="perPage"
  [(ngModel)]="currentPage" (pageChanged)="loadPage($event)" boundaryLinks="true"
  firstText="«" lastText="»" previousText="‹" nextText="›"
  class="pagination-sm center-block"></pagination>
</div>
