<div class="add-friend-details">
  <input [ngModel]="task.group_for_friend" #groupsInput="ngModel" name="groupsInput" id="groupsInput" type="text" placeholder="{{'tasks.add_friend.group.field.placeholder' | translate}}" class="form-control">
  <p class="suggestions">{{"tasks.add_friend.group.suggestions" | translate}}</p>
</div>
