@import 'scss/variables';
@import 'scss/font-awesome';

  .dragula-handle {
    @extend .fa;
    @extend .fa-arrows;
    display: block;
    float: left;
    padding: 7px;
  }

.noosfero-block {
  position: relative;
  padding: 0 !important;
  &.invisible-block {
    .block {
      opacity: 0.4;
    }
  }
  .block {
    min-height: 45px;
    .panel-title {
      font-size: 15px;
      text-transform: uppercase;
    }
    .panel-footer {
      padding: 0;
      .block-name {
        text-align: right;
        margin-right: 23px;
        color: #a2a2a2;
        font-weight: bold;
      }
    }
    .panel-heading {
      background-color: transparent;
      border: 0;
      h3{
        padding: 1em;
        padding-left: 0;
      }
    }
    .panel-body{
      padding-top: 0.5em;
    }
  }
  .block-actions {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 1;
    width: 100%;
    .action {
      float: right;
      color: #b9b9b9;
    }
  }
  .editable-click, a.editable-click {
    color: $brand-success;
    border-bottom: dashed 1px $brand-success;
    &.editable-empty {
      color: lighten($brand-success, 30);
    }
  }
}
.popover-wrapper form {
    margin-left: -50px;
}
div.collapse {
 overflow:visible;
}