<ngx-loading [show]="loading"></ngx-loading>
<noosfero-article *ngIf="article" [article]="article" [profile]="profile"></noosfero-article>
<not-found *ngIf="isNotFoundPage()" [profile]="profile"></not-found>
