<div class="container-fluid add-community">
    <h1>{{ getTitle() }}</h1>
    <form class="form" (ngSubmit)="save()" #communityForm="ngForm">
        <div class="form-group">
            <label for="name">{{'myprofile.configuration.community.name_label' | translate}}</label>
            <input type="text" class="form-control" placeholder="{{'myprofile.configuration.community.name_label' | translate}}" [(ngModel)]="community.name"
                required #name="ngModel" id="name" name="name">
            <validation-message #nameErrors [field]="name" [prefix]="'profile.edition.name'"></validation-message>
        </div>
        <div class="form-group">
            <label>{{'myprofile.configuration.community.approved_members_label' | translate}}</label>

            <div class="radio">
                <label>
                    <input type="radio" name="acceptMember" id="acceptBefore" value="true" (change)="onSelectionChange(true)" [checked]='acceptBefore' required>
                    {{'myprofile.configuration.community.approved_members_before' | translate}}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="acceptMember" id="acceptAfter" value="false" (change)="onSelectionChange(false)" [checked]='!acceptBefore' required>
                    {{'myprofile.configuration.community.approved_members_after' | translate}}
                </label>
            </div>
        </div>
        <div class="form-group actions">
            <button appDebounceClick (debounceClick)="save()" class="save-community btn btn-primary">{{"profile.edition.action.save" | translate}}</button>
            <button type="button" class="btn btn-default" (click)="cancel()">{{"profile.edition.action.cancel" | translate}}</button>
        </div>
    </form>
</div>