<div class="logged-user-info" *ngIf="currentUser">
    <h4>{{"blocks.login.login-as" | translate}} {{currentUser.person.identifier}}</h4>
    <ul>
        <li>{{"blocks.login.user-since" | translate}}
            <span class="time">
                <span>{{currentUser.person.created_at | dateFormat | amTimeAgo}}</span>
            </span>        
        </li>
      <li>
        <profile-link [profile]="currentUser.person" [truncate]="false">
          {{"blocks.login.homepage" | translate}}
        </profile-link>
      </li>
    </ul>
    <div class="user-actions">
      <a href="#" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> {{"navbar.logout" | translate}}</a>
    </div>    
</div>
<div class="logged-user-info" *ngIf="!currentUser">
  <form>
    <div class="form-group">
      <label for="email">{{"auth.form.login" | translate}}</label>
      <input name="email" type="text" class="form-control" id="email" placeholder="{{'auth.form.login' | translate}}" [(ngModel)]="credentials.login">
    </div>
    <div class="form-group">
      <label for="passwd">{{"auth.form.password" | translate}}</label>
      <input name="password" type="password" class="form-control" id="passwd" placeholder="{{'auth.form.password' | translate}}" [(ngModel)]="credentials.password">
    </div>
    <div class="form-inline">
      <div class="checkbox-nice">
        <input type="checkbox" id="keep-logged">
        <label for="keep-logged">
          {{"auth.form.keepLoggedIn" | translate}}
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default" (click)="login()">{{"auth.form.login_button" | translate}}</button>
  </form>
</div>
