<div class='not-found row'> 
  <div class="text col-md-6">
    <h2>{{ "page.not_found.title" | translate}}</h2>
    <p>{{ "page.not_found.body" | translate}}</p>
  </div>
  <div class="image col-md-6">
    <i class="fa fa-frown-o"></i>
  </div>
</div>