<form class="clearfix post-comment" *ngIf="article.accept_comments">
  <div class="form-group post-comment-logged-in" *ngIf="loggedIn()">
    <div class="comment media">
      <div class="media-left">
        <profile-link [profile]="currentUser.person" [displayName]="false" [displayImage]="true"></profile-link>
      </div>
      <div class="media-body">
        <textarea class="form-control custom-control" rows="1" name="body" [(ngModel)]="comment.body" placeholder="{{'comment.post.placeholder' | translate}}"></textarea>
        <noosfero-hotspot-comment-form [comment]="comment" [parent]="parent"></noosfero-hotspot-comment-form>
        <button appDebounceClick (debounceClick)="save()" [hidden]="!comment.body" type="submit" class="btn btn-default pull-right">{{"comment.post" | translate}}</button>
      </div>
    </div>
  </div>
  <div class="form-group post-comment-not-logged-in" *ngIf="!loggedIn()">
    <div class="not-logged">
      {{"comment.post.not_logged" | translate}}
    </div>
  </div>
</form>
