<ngx-loading [show]="loading"></ngx-loading>

<div *ngFor="let card of documents" class="deckgrid">
  <div class="a-card panel media">
      <div class="author media-left" *ngIf="card.author && card.author.image">
        <!--<img [alt]='"profile.image.description" | translate' [src]="card.author.image.url" class="img-circle">-->
        <profile-link [profile]="card.author" [displayName]="false" [displayImage]="true"></profile-link>
      </div>
      <div class="header media-body">
        <a class="page-link" [routerLink]="'/' + card.profile.identifier + '/' + card.path">
          <h5 class="title media-heading">{{card.title}}</h5>
        </a>
        <div class="subheader">
          <span class="time">
            <i class="fa fa-clock-o"></i> <span>{{card.created_at | dateFormat | amTimeAgo}}</span>
          </span>
        </div>
      </div>
      <img *ngIf="card.image" [alt]="card.image.filename" [src]="card.image.url" class="img-responsive article-image">
      <div class="post-lead">
        {{(card.body || '') | stripTags |shorten: 100: '...' }}
      </div>
  </div>
</div>
