<div class="container-fluid profile-main-block" ng-if="updatedProfile">
    <h1>{{'myprofile.configuration.personal_data' | translate}}</h1>
    <form class="form" (ngSubmit)="save()" #profileForm="ngForm">
        <div class="form-group">
            <label for="name">{{'profile.edition.name_label' | translate}}</label>
            <input type="text" class="form-control" placeholder="{{'profile.edition.name_label' | translate}}" [(ngModel)]="updatedProfile.name"
                required #name="ngModel" id="name" name="name">
            <validation-message #nameErrors [field]="name" [prefix]="'profile.edition.name'"></validation-message>
        </div>
        <div class="form-group">
            <label for="email">{{'profile.edition.email_label' | translate}}</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="{{'profile.edition.email_label' | translate}}"
                [(ngModel)]="updatedProfile.email" required #email="ngModel">
            <validation-message #emailErrors [field]="email" [prefix]="'profile.edition.email'"></validation-message>

        </div>
        <!--fieldset class="custom-fields-border" ng-if='keys()'>
            <legend class="custom-fields-border">Campos adicionais</legend>
            <div *ngFor="let key of keys()" class="profile-item">
                <div class="form-group">
                    <label for="{{ key }}">{{ translateLabel(key) }}</label>
                    <input [type]="fieldType(key)" class="form-control" #name="ngModel" id="{{ key }}" name="{{ key }}" [(ngModel)]="customFieldsDict[key]" required  >
                </div>
            </div>
        </fieldset-->
        <div class="form-group actions">
            <button appDebounceClick (debounceClick)="save()" class="btn btn-primary">{{"profile.edition.action.save" | translate}}</button>

        </div>
    </form>
</div>