<ul class="task-list">
  <li class="task-group" *ngFor="let group of tasksGroups">
    <div class="task-target">
      <noosfero-profile-image *ngIf="group[0].target.type" [profile]="group[0].target"></noosfero-profile-image>
      <div class="target-name">{{group[0].target.name}}</div>
    </div>
    <div class="task-body row" *ngFor="let task of group; let i = index;">
      <div class="task col-md-10">
        <task [task]="task"></task>
        <div class="time">
          <span>{{task.created_at | amTimeAgo}}</span>
        </div>
      </div>
      <div class="actions col-md-2">
        <a href="#" *ngIf="!task.accept_disabled" (click)="accept(task)" class="accept" title="{{'tasks.actions.accept' | translate}}">
          <i class="fa fa-check"></i>
          <span class="read-aloud">{{"tasks.actions.accept" | translate}}</span>
        </a>
        <a href="#" *ngIf="!task.reject_disabled" (click)="reject(task)" class="reject" title="{{'tasks.actions.reject' | translate}}">
          <i class="fa fa-close"></i>
          <span class="read-aloud">{{"tasks.actions.reject" | translate}}</span>
        </a>
      </div>
    </div>
  </li>
</ul>

<div class="modal reject fade" bsModal #rejectModal="bs-modal" *ngIf="showRejectModal" [config]="{ show: true, backdrop: true }"
     tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true" (onHide)="cancel()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{"tasks.actions.reject.confirmation.title" | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="reject-fields confirmation-details">
          <input [(ngModel)]="currentTask.reject_explanation" name="reject_explanation" id="rejectionExplanationInput" type="text" placeholder="{{'tasks.actions.reject.explanation.label' | translate}}" class="rejection-explanation form-control">
        </div>
        <div class="actions">
          <button type="submit" class="btn btn-default" appDebounceClick (debounceClick)="confirmReject()">{{"tasks.actions.confirmation.yes" | translate}}</button>          
          <button type="button" class="btn btn-warning" (click)="cancel()">{{"tasks.actions.confirmation.cancel" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal accept fade" bsModal #acceptModal="bs-modal" *ngIf="showAcceptModal" [config]="{ show: true, backdrop: true }"
    tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{"tasks.actions.accept.confirmation.title" | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="accept-fields confirmation-details">
          <task-accept *ngIf="currentTask.accept_details" [task]="currentTask"></task-accept>
        </div>
        <div class="actions">
          <button type="submit" class="btn btn-default" appDebounceClick (debounceClick)="confirmAccept()">{{"tasks.actions.confirmation.yes" | translate}}</button>
          <button type="button" class="btn btn-warning" (click)="cancel()">{{"tasks.actions.confirmation.cancel" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
